.image-shimmer-wrapper {
  position: relative;
  display: inline-block;
}

.image-shimmer-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

.image-shimmer-wrapper::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  animation: shimmer 2s infinite;
  background: linear-gradient(135deg,
      transparent 25%,
      #ffffff20 25%,
      #ffffe080 50%,
      #ffffff20 75%,
      transparent 75%);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  cursor: var(--cursor-hover);
}

img.shimmer {
  position: relative;
  display: inline-block;
  z-index: 1;
}

img.shimmer+.shimmer-overlay {
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  content: "";
  display: block;
  animation: shimmer 2s infinite;
  background: linear-gradient(135deg,
      transparent 25%,
      #ffffff20 25%,
      #ffffe080 50%,
      #ffffff20 75%,
      transparent 75%);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  z-index: 2;
}

@keyframes shimmer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-webkit-keyframes shimmer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.meta-container-pacc {
  grid-column: span 3;
  background-color: #4f5160;
  padding: .25em 5px;
  margin: 0 -5px 0 -5px;
  font-size: 1.2em;
  box-shadow: 0 -1px 2px #0000007f;
}

.meta-container-pacc:empty {
  display: none;
}

.meta-container-pacc>div {
  padding-top: 2px;
  padding-bottom: 8px;
}

.meta-container-pacc>div+div {
  box-shadow: 0 -1px 1px #0000007f;
}

.meta-container-pacc img {
  height: 40px;
}